
# Server configuration keys
SERVER_PORT=3000
MONGO_URI=your-key
JWT_SECRET=your-key
CLIENT_ORIGINS=your-key

# Redis configuration keys
REDIS_HOST=your-key
REDIS_PORT=your-key
REDIS_PASSWORD=your-key

# Email Api keys
GOOGLE_CLIENT_ID=your-key
GOOGLE_CLIENT_SECRET=your-key
GOOGLE_REFRESH_TOKEN=your-key

# Ai models keys 
GEMINI_API_KEY=your-key
MISTRAL_API_KEY=your-key

#Ai Tools Keys
TAVILY_API_KEY=your-key
IMAGEKIT_PRIVATE_KEY=your-key
