:root {
    --primary: #32575c;
    --primary-hover: #468a93;

    --bg-dark: #171615;
    --bg-sidebar: #1E1D1B;
    --bg-message: #1E1D1B;
    --bg-input: #1E1D1C;
    --bg-active-chat: #252421;
    --bg-card: #1e1e1e;

    --text-main: #ffffff;
    --text-muted: #a0a0a0;

    --btn-send: #7A7978;
    --icon-color: #969593;

    --border-color: #333333;
    --border-radius: 8px;

    --font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
